.star1 {
    position: absolute;
    top: 48%;
    left: 70%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(247, 241, 227);
    box-shadow: 2px 4px 40px 25px rgba(241, 237, 226, 0.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    animation: pulse 4s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.75);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.75);
    }
}

.star2 {
    position: absolute;
    top: 75%;
    left: 26%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: rgb(248, 245, 240);
    box-shadow: 2px 4px 17px 10px rgba(242, 223, 176, 0.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    animation: pulse 4s infinite;
}

@keyframes pulse2 {
    0% {
        transform: scale(0.75);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.75);
    }
}

.star2b {
    position: absolute;
    top: 25%;
    left: 9%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: rgb(248, 245, 240);
    box-shadow: 2px 4px 17px 10px rgba(242, 223, 176, 0.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    animation: pulse 4s infinite;
}

@keyframes pulse2 {
    0% {
        transform: scale(0.75);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.75);
    }
}

.star2c {
    position: absolute;
    top: 35%;
    left: 81%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: rgb(248, 245, 240);
    box-shadow: 2px 4px 17px 10px rgba(154, 136, 98, 0.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    animation: pulse 4s infinite;
}

@keyframes pulse2 {
    0% {
        transform: scale(0.75);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.75);
    }
}

.star3 {
    position: absolute;
    top: 60%;
    left: 46%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
}
.star3b {
    position: absolute;
    top: 15%;
    left: 43%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
}
.star3c {
    position: absolute;
    top: 22%;
    left: 77%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
}

.star4 {
    position: absolute;
    top: 55%;
    left: 26%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
}

.star4b {
    position: absolute;
    top: 64%;
    left: 50%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
}

.star4c {
    position: absolute;
    top: 14%;
    left: 20%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
}

.star4d {
    position: absolute;
    top: 50%;
    left: 90%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
}

.star4e {
    position: absolute;
    top: 61%;
    left: 40%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
}

.star4f {
    position: absolute;
    top: 13%;
    left: 85%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
}

.star4g {
    position: absolute;
    top: 33%;
    left: 19%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
}