
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  background-color: black;
  color: #4CFF42;
  padding: 25px;
  height: 100%;
}

.swal-modal {
  background-color: #000;
  border: 2px solid #4CFF42;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  color: #000;
  background-color: #4CFF42;
  font-size: 12px;
  border: 1px solid #4CFF42;
}

.swal-button:hover {
  background-color: black;
}

.swal-content__input[type="text"], .swal-content__input[type="text"]:focus { 
  font-family: 'Inconsolata', monospace;
  background-color: #000;
  color: #4CFF42;
  outline: #4CFF42;
  border: 1px solid #4CFF42;
}

.swal-button:not([disabled]):hover {
  background-color: #000;
  color: #4CFF42;
}

/* changing auto-outline for text */
/* .swal-content__input[type="text"]:focus {
  outline: none;
  
} */
