body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  /* font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: rgb(45, 43, 43);
  color: rgb(164, 145, 230)
}