body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  background-color: black;
  color: white;
}

code {
  font-family: "Quicksand", sans-serif;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}