body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-image: url(./assets/labyrinth.jpg);
  background-size: cover;
}

code {
  font-family: 'Roboto', sans-serif;
}
