* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fire {
  width: 30px;
}