body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input{
border-radius: 5px;
width: 250px;
height: 30px;
font-size: 25px;
}

