body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4D288;
}

.name-input {
  background-color: #18211E;
  color: #43B771;
  border: solid 1px gray;
  border-radius: 5px;
  margin-right: 4%;
  font-size: 1.2rem;
  box-shadow: 1px 1px 1px grey;
}

@media (min-width: 1024px) {
  .name-input {
    font-size: 1.7rem;
  }
}

.hiddenButton {
  display: none;
}