body {
  margin: 0;
  font-family: 'Press Start 2P', cursive, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
input {
  max-width: 250px;
}

progress.nes-progress {
  max-height: 2rem;
}

h2 {
  text-align: center;
  font-size: 1rem;
}

h3 {
  margin-bottom: 5rem;
  color: white;
}

h6 {
  font-size: 2rem;
  color: white;
}

p {
  color: white;
  text-align: center;
}

span {
  color: white;
}

.profileContainer {
  /* width: 600px; */
  /* display: flex; */
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 5rem;
  gap: 10px;
}
