#fly-in {
  font-size: 4em;
  margin: 15vh auto;
  height: 10vh;
  text-transform: uppercase;
}

#fly-in span {
  display: block;
  font-size: 0.4em;
  opacity: 0.8;
}

#fly-in div {
  position: fixed;
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  animation: switch 23s linear infinite;
}

#fly-in div:nth-child(2) {
  animation-delay: 4s;
}
#fly-in div:nth-child(3) {
  animation-delay: 8s;
}
#fly-in div:nth-child(4) {
  animation-delay: 12s;
}
#fly-in div:nth-child(5) {
  animation-delay: 16s;
}
/* /* #fly-in div:nth-child(6) {
    animation-delay: 20s;
  }
  #fly-in div:nth-child(7) {
    animation-delay: 24s;
  }
  #fly-in div:nth-child(8) {
    animation-delay: 28s;
  } */

@keyframes switch {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: scale(12);
  }
  3% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  10% {
    opacity: 1;
    filter: blur(0);
    transform: scale(0.9);
  }
  13% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.1);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
