.endpage-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: black;

overflow: hidden;
margin: 0 auto;
padding: 0 auto;
  
}

.endpage-button {
  color: rgba(28, 38, 51, 0.397);
  text-shadow: 1px 1px rgb(60, 77, 105);
  font-weight: 600;
  border: none;
  background-color: rgba(245, 165, 35, 0.801);
  font-size: 19px;
  font-weight: 600;
  font-family: "Pirata One", cursive;
  transition: ease-in 0.2s;
  width: 200px;
  z-index: 10;
  border-radius: 15px;
  padding: 5px;
  
}

.endpage-button:hover {
  transform: scale(85%);
}

.endpage-text {
  z-index: 10;
  font-size: 48px;
  color: rgba(245, 165, 35, 0.801);
  font-weight: 600;
  text-shadow: 1px 1px 1px #000;
  width: 100vw;
  text-align: center;
}
