.labyrint-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    max-width: 35rem;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem 1rem 10rem 1rem;
}

.description-box {
    color: white;
    border: 2px solid;
    font-size: 1.1rem;
    text-align: center;
    padding: 10px;
}

.moveActionWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.moveAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
    color: white;

} 

.moveAction p {
        padding: 0px;
        margin: 0;
    }

.text-container {
    display: flex;
    justify-content: center;
}


@media (min-width: 767px) {
    .description-box {
        font-size: 1.8rem;
    }

    .moveAction {
        display: flex;
        gap: 25px;
        padding: 25px;
        font-size: 1.5rem;
    } 

}

@media (min-width: 1024px) {
    .description-box {
        font-size: 1.8rem;
    }

    .moveAction {
        display: flex;
        gap: 25px;
        padding: 25px;
        font-size: 1.5rem;
    } 


}
