.description {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 10% auto;
  padding: 2%;
}

.action-card {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 10% auto;
  padding: 2%;
  position: relative;
  background-color: black;
  color: white;
}

.action-card button {
  padding: 2%;
  border-radius: 6px;
}
