.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 10% auto;
  padding: 2%;
}

.action-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10% auto;
  padding: 2%;
  position: relative;
  background-color: black;
  color: white;
}

.action-card button {
  padding: 2%;
  border-radius: 6px;
}
