.labyrinthWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    background-color: aliceblue;
    opacity: 30%;
    margin: 0 auto;
}

.backgroundImages {
    display: flex;
    max-width: 766px;
    object-fit: contain;
  }

.currentPosition {
    display: flex;
    text-align: center;
    width: 320px;
    max-width: 766px;
    font-size: 24px;
    border: 2px solid;
}

.moveAction {
    display: flex;
    flex-direction: column;
    max-width: 766px;
    width: 320px;
    font-size: 18px;
    text-align: center;
}

.moveBtn {
    font-size: 20px;
    border: 2px solid green;
    text-align: center;
}

@media screen and (min-width: 767px) {
    
    .labyrinthWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
        border: 2px solid black;
        margin: 0 auto;
        background-color: aliceblue;
    }

    .backgroundImages {
        flex-direction: column;
        padding: 15px;
        width: 767px;
        object-fit: contain;
      }
    
    .currentPosition {
        text-align: center;
        width: 80%;
        font-size: 24px;
        border: 2px solid;
    }
    
    .moveActionWrapper {
        display: flex;
        flex-direction: row;
    }

    .moveAction {
        width: 50%;
        margin-bottom: 4rem;
        font-size: 18px;
        text-align: center;
    }
    
    .moveBtn {
        font-size: 20px;
        border: 2px solid green;
    }
}

@media screen and (min-width: 1024px) {
    .labyrinthWrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 2px solid black;
        margin: 0 auto;
        max-width: fit-content;
        background-color: aliceblue;
    }

    .backgroundImages {
        flex-direction: column;
        width: 1440px;
        object-fit: cover;
      }
    
    .currentPosition {
        text-align: center;
        align-self: center;
        font-size: 24px;
        border: 2px solid;
    }
    
    .moveAction {
        display: flex;
        flex-direction: row;
        margin-bottom: 4rem;
        font-size: 18px;
        text-align: center;
    }
    
    .moveBtn {
        font-size: 20px;
        border: 2px solid green;
        width: fit-content
    }
}