.loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-image: url(../components/img/forest.gif);
    background-size: cover;
}

.runner {
scale: 70%;
}
