#usernameForm {
    font-family: "Press Start 2P";
    text-align: center;
}

@media (max-width : 428px)  {
    .usernameForm {
        scale: 55%;
    }
    #usernameForm {
        font-size: 16px;
    }
    input:focus {
        /* Set overflow to hidden when input is focused */
        overflow: hidden;
      }
      
      input:focusout {
        /* Set overflow back to auto when focus is lost */
        overflow: auto;
      }
      
}