#usernameForm {
    font-family: "Press Start 2P";
    text-align: center;
    font-size: 16px;
}

@media (max-width : 428px)  {
    .usernameForm {
        scale: 55%;
    }
    #usernameForm {
        font-size: 16px;
    }    
    
}